body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    background-color:whitesmoke;
}

header a, main a {
    text-decoration: none;
    color: inherit;
}

main a:hover {
    text-decoration: underline;
}

/* Header and Hero */

header {
    background-image: url('backgrounds/background.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.hero {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hero ul li {
    display: inline-block;
}

.hero ul li a {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(0, 103, 205);
    color: #fff;
    transition: 0.3s;
    border: solid 3px rgba(2, 72, 143, 0.455);
}

.hero ul li a:hover {
    background-color: rgb(1, 64, 128);
    text-decoration: none;
}

.hero .image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 5px #e3e3e3;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.1);
}

.hero .image img {
    width: 100%;
}

/* Content */

.container {
    display: block;
    width: 650px;
    margin: 3em auto;
    background-color: #ffffff;
    border-radius: 0.5em;
    border: solid 1px #ccc;
    padding: 3em;
}

.container h3 {
    text-align: center;
    font-size: 2em;
}

.container p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    padding: 15px;
    border-radius: 0.5em;
    font-weight: 350;
    text-align: center;
    
}

.to-top-button {
    display: block;
    width: 11em;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
    border-radius: 0.5em;
    border: solid 1px #ccc;
}