:root {
    --std-border-radius:0.5em;
}

.checkout {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    background-color: #fff;
    border-radius:var(--std-border-radius);
}

.checkout fieldset {
    border:solid 1px #ccc;
    margin-top: 1em;
    background-color: #eeeeee;
    border-radius: var(--std-border-radius);
}

.checkout legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.1em 1em;
    background-color: #ffffff;
    border: solid 1px #ccc;
    border-radius: 0.5em;
    color: #333;
}

.checkout textarea {
    padding: 0.5em;
    font: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: var(--std-border-radius);
}

.checkout label {
    display: block;
    width: 100%;
}

.checkout input {
    display: block;
    width: 100%;
    border: solid 1px #ccc;
    padding: 0.5em;
    box-sizing: border-box;
    font: inherit;
    font-size: 0.9em;
    border-radius: var(--std-border-radius);
}

.checkout input:focus , .checkout textarea:focus{
    outline: solid 3px rgba(0, 149, 255, 0.5);
}

input#expire-year , input#expire-month, input#cvc {
    display: inline;
    width: 30%;
    text-align: center;
}

.form-col {
    box-sizing: border-box;
}

.form-col-item {
    display: inline;
    width: 50%;
    box-sizing: border-box;
    float: inline-start;
}

.checkout .error {
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    font-style: italic;
}

/*-------------- Buttons --------------*/

.form-buttons {
    text-align: right;
}

.form-buttons button {
    padding: 0.5em 1em;
    margin-left: 1em;
    transition: 0.3s;
}

.form-buttons button[type='submit'] {
    background-color: crimson;
    color: #fff;
    border: solid 1px crimson;
}

.form-buttons button[type='submit']:hover {
    background-color: rgba(220, 20, 60, 0.173);
    color: crimson;
}

.form-buttons button[type='reset'] {
    background-color: black;
    color: #fff;
    border: solid 1px black;
}

.form-buttons button[type='reset']:hover {
    background-color: #ccc;
    color: #000;
}
