:root {
    --std-border-radius:0.5em;
}

body {
    background-image: url('background/jellyfish.jpg');
}

/* Checkout Section */

.checkout {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    background-color: #fff;
    border-radius:var(--std-border-radius);
}

.checkout .form-col-wrap {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.checkout .form-col {
    border:solid 1px #ccc;
    background-color: #eeeeee;
    border-radius: var(--std-border-radius);
    margin-left: 0.5em ;
    padding: 0 0.5em;
}


.checkout textarea {
    padding: 0.5em;
    font: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: var(--std-border-radius);
}

.checkout label {
    display: block;
    width: 100%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #444;
    padding: 3px 0;
}

.checkout input {
    display: block;
    width: 100%;
    border: solid 1px #ccc;
    padding: 0.5em;
    box-sizing: border-box;
    font: inherit;
    font-size: 0.9em;
    border-radius: var(--std-border-radius);
}

.checkout input:focus , .checkout textarea:focus{
    outline: solid 3px rgba(0, 149, 255, 0.5);
}

input#expire-year , input#expire-month, input#cvc {
    display: inline;
    width: 30%;
    text-align: center;
}

.form-row {
    margin-bottom: 1rem;
}

.checkout .error {
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    font-style: italic;
}

/*-------- Order Summary ----------*/

.order-summary h2 {
    text-align: center;
}

.order-summary table {
    width: 100%;
}

.order-summary table td {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

.order-summary table tr.grand {
    font-size: 1.2em;
}


/*-------------- Bottom Buttons --------------*/

.form-buttons {
    text-align: right;
    margin-top: 1rem;
}

.form-buttons button {
    padding: 0.5em 1em;
    margin-left: 0.5em;
    transition: 0.3s;
}

/* Submit button */
.form-buttons button[type='submit'] {
    background-color: rgb(20, 137, 220);
    color: #fff;
}

.form-buttons button[type='submit']:hover {
    background-color: rgb(2, 133, 170);
}

/* Reset button */
.form-buttons button[type='reset'] {
    background-color: black;
    color: #fff;
}

.form-buttons button[type='reset']:hover {
    background-color: #ccc;
    color: #000;
}
