body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245, 245, 245);
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    border-radius: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 70%;
    margin: 1rem auto;
}

#products {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin: 1em 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    overflow: hidden; /*to avoid image to overflow*/
    padding:0 0 1em;
    transition: 0.3s;
    background-color: #fff;
    border-radius: 0.5em;
}

.product:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    overflow: hidden;
}

.product-image img {
    width: 100%;
    transition: 0.5s;
}

.product-image img:hover {
    
    transform: scale(1.5);
}

.product .title , .product-details .price {
    display: block;
    padding: 0.5rem 0;
    text-align: center;
}

.product .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-details .price {
    font-family: 'Courier New', Courier, monospace;
}

.product-button button {
    padding: 0.5em 1em;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    transition: 0.3s;
    font-size: 0.8em;
}

.product-button button:hover {
    background-color: #fff;
    color: #000;
}

/* Controls */

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: solid 1px #ccc;
    border-radius: 2em;
    font-size: 0.9rem;
    background-color: #fff;
}

.controls button#cart-open {
    border: solid 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.controls button#cart-open img{
    width: 1.5em;
    border-right: solid 1px #ccc;
    padding: 0 0.5em;
}

.controls button#cart-open .cart-count {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    padding: 0 0.5em;
}

.controls .sort select {
    font: inherit;
    border: none;
    background-color: inherit;
}