
/* Footer */

footer {
    text-align: center;
    padding: 3px;
    background-color: #111e4d;
    color: white;
    height: 200px;
}
footer h4{
    text-align: center;
    text-decoration: underline;
}
footer a{
    text-decoration: none;
    color: white;
    display: flex;
    margin-bottom: 7px;
}
footer a:hover{
    text-decoration: underline;
    color: aqua;
}
footer div{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

footer div .footer-content{
    text-align: left;
}

footer div .contentpage{
    text-align: right;
}
.contentpage{
    float: right;
}
.footer-content{
    float: center;
}
.student{
    float: left;
    text-align: left;   
}