body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.topsection{
    position: relative;
    display: inline-block;
    width: 100%;
}

.background {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
    text-align: center;
    padding: 20px;
}

.secondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text1 {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    text-align: right;
}

.image img {
    max-width: 500px;
    height: auto;
}
.anotherSection {
    padding-left: 40px;
}

.gap {
    margin: 7%;
}